/*------------------------------------------------------------------- */
/* Design Tokens */
/*------------------------------------------------------------------- */
:root {
  /* fonts utopia sizes */
  --step--2: clamp(0.78rem, calc(0.69rem + 0.37vw), 0.96rem);
  --step--1: clamp(0.94rem, calc(0.81rem + 0.55vw), 1.2rem);
  --step-0: clamp(1.13rem, calc(0.94rem + 0.78vw), 1.5rem);
  --step-1: clamp(1.35rem, calc(1.09rem + 1.1vw), 1.88rem);
  --step-2: clamp(1.62rem, calc(1.27rem + 1.51vw), 2.34rem);
  --step-3: clamp(1.94rem, calc(1.46rem + 2.06vw), 2.93rem);
  --step-4: clamp(2.33rem, calc(1.68rem + 2.78vw), 3.66rem);
  --step-5: clamp(2.8rem, calc(1.93rem + 3.72vw), 4.58rem);
  /* space utopia sizing */
  --space-3xs: clamp(0.31rem, calc(0.28rem + 0.13vw), 0.38rem);
  --space-2xs: clamp(0.56rem, calc(0.47rem + 0.39vw), 0.75rem);
  --space-xs: clamp(0.88rem, calc(0.75rem + 0.52vw), 1.13rem);
  --space-s: clamp(1.13rem, calc(0.94rem + 0.78vw), 1.5rem);
  --space-m: clamp(1.69rem, calc(1.41rem + 1.18vw), 2.25rem);
  --space-l: clamp(2.25rem, calc(1.88rem + 1.57vw), 3rem);
  --space-xl: clamp(3.38rem, calc(2.82rem + 2.35vw), 4.5rem);
  --space-2xl: clamp(4.5rem, calc(3.76rem + 3.14vw), 6rem);
  --space-3xl: clamp(6.75rem, calc(5.65rem + 4.71vw), 9rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.1rem + 0.92vw), 0.75rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.29rem + 1.18vw), 1.13rem);
  --space-xs-s: clamp(0.88rem, calc(0.57rem + 1.31vw), 1.5rem);
  --space-s-m: clamp(1.13rem, calc(0.57rem + 2.35vw), 2.25rem);
  --space-m-l: clamp(1.69rem, calc(1.04rem + 2.75vw), 3rem);
  --space-l-xl: clamp(2.25rem, calc(1.15rem + 4.71vw), 4.5rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.09rem + 5.49vw), 6rem);
  --space-2xl-3xl: clamp(4.5rem, calc(2.29rem + 9.41vw), 9rem);

  /* Custom pairs */
  --space-m-2xl: clamp(1.69rem, calc(-0.43rem + 9.02vw), 6rem);

  /* colors */
  --clr-white: hsl(0, 0%, 98%);
  --clr-gray-4: hsl(0, 0%, 41%);
  --clr-black: hsl(0, 0%, 8%);
}
/*------------------------------------------------------------------- */
/* Reset */
/*------------------------------------------------------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*------------------------------------------------------------------- */
/* Global */
/*------------------------------------------------------------------- */

body {
  color: var(--clr-black);
  background-color: var(--clr-white);
  font-size: var(--step-0);
  line-height: 1.5;
}

.heading {
  font-size: var(--step-4);
  line-height: 1.1;
}

/*------------------------------------------------------------------- */
/* Utils */
/*------------------------------------------------------------------- */
.flex {
  display: flex;
  gap: var(--space-s);
  flex-direction: var(--direction, row);
}

.wrapper {
  max-width: 80rem;
  padding: var(--space-xs);
}

.flow {
}
/*------------------------------------------------------------------- */
/* Layout */
/*------------------------------------------------------------------- */
.page {
  --direction: column;
}

@media (min-width: 376px) {
  [data-style="flex-reverse"] {
    --direction: row-reverse;
  }
}
